<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphone 15</title>
    <script src="https://kit.fontawesome.com/ddf016fd89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div id="borderMainIphone">
        <main class="MainIphone">
            <div id="containerNavBar">
                <div id="containerPhoto">
                    <img src="../assets/images/appareilPhotoFrontale.png" alt="">
                </div>
            </div>
            <div id="containerMenuScreen">
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
                <div class="app"></div>
            </div>
            <div id="containerFooterApplication">
                <div id="containerChildFooterApplication">
                    <div class="app appFooter1"></div>
                    <div class="app appFooter2"></div>
                    <div class="app appFooter3"></div>
                    <div class="app appFooter4"></div>
                </div>
            </div>
        </main>
    </div>
    <script src="../assets/js/menu.js"></script>
</body>

</html>