@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Variable */

* {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #161b21;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#borderMainIphone {
    width: 350px;
    height: 700px;
    border-radius: 50px;
    border: 10px solid #000000;
    background-image: url(../images/fondEcran0.jpg);
    background-size: cover;
    -webkit-box-shadow: 10px 10px 15px 5px #000000; 
    box-shadow: 10px 10px 15px 5px #000000;
}
.mainIphone {
    background-image: url(../images/fondEcran0.jpg);
    background-size: cover;
    width: 350px;
    height: 700px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#containerNavBar {
    width: 350px;
    height: 48.44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerPhoto {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 9.6px;
}
#containerWhiteBar {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#whiteBar {
    background-color: #ffffff;
    width: 172.7px;
    height: 4.84px;
    border-radius: 2vw;
    cursor: pointer;
}
/* White Bar Animation */

@keyframes slidein {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(0, -1000px);
        opacity: 0;
    }
}

.slideIn {
    animation: slidein 1s;
}

#containerLockedScreen {
    height: 640px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#containerLockedScreen :nth-child(1) {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
#containerLockedScreen :nth-child(2) {
    font-weight: bold;
    font-size: 80px;
}
#containerIconLockedScreenLeft {
    width: 66px;
    color: white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#containerIconLockedScreenRight {
    color: white;
    margin-left: 20px;
}

/* Css Menu */

#containerMenuScreen {
    height: 500px;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    margin-left: 15px;
}
#containerFooterApplication {
    width: 350px;
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerChildFooterApplication {
    width: 330px;
    height: 80px;
    background-color: #cfe2e9a3;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
#containerMainSeachMenu {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#containerSearchMenu {
    width: 120px;
    height: 30px;
    background-color: #cfe2e9a3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerSearchMenu :nth-child(2) {
    margin-left: 5px;
}


/* App Paramètre */

.containerApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.app {
    width: 56px;
    height: 56px;
    background-color: violet;
    border-radius: 15px;
}
.app1 {
    background-image: url(../images/reglageIcon.png);
    background-size: cover;
}